#root {
  margin: 0 auto;
  text-align: center;
}
 *{
  font-family: "Red Hat Display", "sans-serif";
 }

body{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #fafafa;
    overflow-x: hidden;
}


